@model PhotoViewModel


@{
    ViewData["Title"] = "Purchase";
}

<div class="purchase">
    <h1 class="header-large">Purchase Photo</h1>
    <div class="purchase__photo-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</div>
    <div class="yellow-line"></div>
    <div class="flex-box">
        <div class="photo">
            <img src="@Model.Url" />
        </div>
        <div class="purchase__photo-info">
            <h3 class="header-small">
                Photo Information
            </h3>
            <div class="info">
                <div class="row">
                    <div class="title">Photo Name</div>
                    <div class="value">@Model.Name</div>
                </div>
                <div class="row">
                    <div class="title">Photo Code</div>
                    <div class="value">
                        @Model.Code
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        Max Resolution
                    </div>
                    <div class="value">
                        @Model.Resolution
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        Photo Name
                    </div>
                    <div class="value">
                        @Model.FileSize
                    </div>
                </div>
                <div class="row">
                    <div class="title">
                        Photographer
                    </div>
                    <div class="value">
                        @Model.PhotographerName
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 class="header-medium">Photo Options</h2>
        <div class="purchase-grid responsive-grid--8cols responsive-grid--collapse photo-options-grid">
            <div class="row-yellow">
                @*<div style="order:0;" class="cell cell--head"><h3>Eddard Stark</h3></div>*@
                <div style="order:1;" class="cell"><input type="checkbox" /></div>
                <div style="order:1;" class="cell red"><input type="checkbox" /></div>
                <div style="order:2;" class="cell red">A5 Landscape</div>
                <div style="order:3;" class="cell light-blue">Height: 4in</div>
                <div style="order:4;" class="cell light-blue">Length: 7in</div>
                <div style="order:5;" class="cell blue">QTY: 1</div>
                <div style="order:6;" class="cell blue"><strong>$6.00</strong></div>
                <div style="order:7;" class="cell cell--foot"><div class="button--yellow" ng-click="">Add To Cart</div></div>
            </div>
            <div class="row">
                @*<div style="order:0;" class="cell cell--head"><h3>Eddard Stark</h3></div>*@
                <div style="order:1;" class="cell"><input type="checkbox" /></div>
                <div style="order:1;" class="cell red"><input type="checkbox" /></div>
                <div style="order:2;" class="cell red">A5 Landscape</div>
                <div style="order:3;" class="cell light-blue">Height: 4in</div>
                <div style="order:4;" class="cell light-blue">Length: 7in</div>
                <div style="order:5;" class="cell blue">QTY: 1</div>
                <div style="order:6;" class="cell blue"><strong>$6.00</strong></div>
                <div style="order:7;" class="cell cell--foot"><div class="button--yellow" ng-click="">Add To Cart</div></div>
            </div>
            <div class="row-yellow">
                @*<div style="order:0;" class="cell cell--head"><h3>Eddard Stark</h3></div>*@
                <div style="order:1;" class="cell"><input type="checkbox" /></div>
                <div style="order:1;" class="cell red"><input type="checkbox" /></div>
                <div style="order:2;" class="cell red">A5 Landscape</div>
                <div style="order:3;" class="cell light-blue">Height: 4in</div>
                <div style="order:4;" class="cell light-blue">Length: 7in</div>
                <div style="order:5;" class="cell blue">QTY: 1</div>
                <div style="order:6;" class="cell blue"><strong>$6.00</strong></div>
                <div style="order:7;" class="cell cell--foot"><div class="button--yellow" ng-click="">Add To Cart</div></div>
            </div>
            <div class="row">
                @*<div style="order:0;" class="cell cell--head"><h3>Eddard Stark</h3></div>*@
                <div style="order:1;" class="cell"><input type="checkbox" /></div>
                <div style="order:1;" class="cell red"><input type="checkbox" /></div>
                <div style="order:2;" class="cell red">A5 Landscape</div>
                <div style="order:3;" class="cell light-blue">Height: 4in</div>
                <div style="order:4;" class="cell light-blue">Length: 7in</div>
                <div style="order:5;" class="cell blue">QTY: 1</div>
                <div style="order:6;" class="cell blue"><strong>$6.00</strong></div>
                <div style="order:7;" class="cell cell--foot"><div class="button--yellow" ng-click="">Add To Cart</div></div>
            </div>
        </div>

        <div class="button--yellow button--yellow--large" ng-click=""><img src=""/>Add Selected To Cart</div>



    </div>
    
</div>

