@model PhotoViewModel


@{
    ViewData["Title"] = "Purchase";
}

<div class="purchase" ng-controller="CheckoutCtrl">
    <h1 class="header-large">Purchase Photo</h1>
    <div class="purchase__photo-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</div>
    <div class="divider"></div>
    <div class="flex-box">
        <div class="photo">
            <img src="@Model.Url" />
        </div>
        <div class="purchase__photo-info">
            <h3 class="header-small">
                Photo Information
            </h3>
            <div class="info">
                <div class="row">
                    <div class="title">Photo Name</div>
                    <div class="value">@Model.Name</div>
                </div>
                <div class="row">
                    <div class="title">Photo Code</div>
                    <div class="value">@Model.Code</div>
                </div>
                <div class="row">
                    <div class="title">Max Resolution</div>
                    <div class="value">@Model.Resolution</div>
                </div>
                <div class="row">
                    <div class="title">File Size</div>
                    <div class="value">@Model.FileSize</div>
                </div>
                <div class="row">
                    <div class="title">Photographer</div>
                    <div class="value">@Model.PhotographerName</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 class="header-medium">Photo Options</h2>
        <div class="purchase__options--container" ng-init="getPrintTypes()">
            <div class="purchase__options--row" ng-repeat="print in printTypes">
                <div class="select"><md-checkbox aria-label="Select" ng-click="select(print.Id)"></md-checkbox></div>
                <div class="icon"><img src="~/images/icons/{{print.Icon}}.png" /></div>
                <div class="type">{{print.type}}</div>
                <div class="height">Height: {{print.Height}}in</div>
                <div class="length">Length: {{print.Length}}in</div>
                <div class="quantity">QTY: 1</div>
                <div class="price"><strong>$6.00</strong></div>
                <div class="choose"><div class="button--yellow" ng-click="addToCard(print.Id)"><img src="~/images/icons/cart-red.png" />Add To Cart</div></div>
            </div>
        </div>

        <div class="button--yellow button--yellow--large" ng-click="createOrder()"><img src="~/images/icons/cart-red.png" />Add Selected To Cart</div>



    </div>
    
</div>

