@*<figure class="preview code-@Event.Style.HomepageTemplate.Value"
        style="background-image: url('@backgroundImageUrl')">
    @if (Event.Style.HomepageTemplate != HomepageTemplate.FullBackground || string.IsNullOrWhiteSpace(Event.Style.FeaturedImageUrl))
    {
        <div class="background" style="background-color: @Event.Style.BackgroundColorCode">
        </div>
    }

    <div class="overlay" style="background-color: @Event.Style.OverlayColorCode; opacity: @Event.Style.OverlayOpacity"></div>
    <h1 style="color: @Event.Style.HeaderColorCode">@eventName </h1>
    <hr style="border-top-color: @Event.Style.AccentColorCode" />
    <p style="color: @Event.Style.BodyColorCode"> @eventDescription </p>
    <div class="enter-code">
        <input style="border-color: @Event.Style.AccentColorCode" placeholder="Enter Your Code" />
        <button type="button" style="background-color: @Event.Style.AccentColorCode">Go!</button>
    </div>
    <div class="branding">
        @if (Event.Style.ThemeColor == ThemeColor.Dark)
        {
            <img src="~/images/account/dark branding@1x.png" />
        }
        else if (Event.Style.ThemeColor == ThemeColor.Light)
        {
            <img src="~/images/account/light branding@1x.png" />
        }
    </div>
</figure>*@

@code{
    [Parameter]
    public Event Event { get; set; }

    string eventDescription
    {
        get
        {
            if (String.IsNullOrWhiteSpace(Event.Description))
            {
                return "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
            }
            return Event.Description;
        }
    }

    string eventName
    {
        get
        {
            if (String.IsNullOrWhiteSpace(Event.Name))
            {
                return "Event Name";
            }
            return Event.Name;
        }
    }

    string backgroundImageUrl
    {
        get
        {
            if (Event.Style.HomepageTemplate == HomepageTemplate.FullBackground && !String.IsNullOrWhiteSpace(Event.Style.FeaturedImageUrl))
            {
                return Event.Style.FeaturedImageUrl;

            }
            else
            {
                return "/images/BG2.png";
            }
        }
    }
}