@model List<FolderViewModel>
@{
    ViewData["Title"] = "Dashboard";
}

<div class="photographer-dashboard--wrapper">
    <h2 class="header-large">Good morning, </h2>
    <div class="yellow-background line--small"></div>
    @*<a href="@Url.Action("ExportCard","Photographer")" class="btn btn-pou-default">Export new cards</a>*@
    <hr />
    <div class="flex-box filters">
        <input class="input--light-blue searchbox" placeholder="Search Library"/>

        <div class="view-icons align-right">
            <div class="filter-sort">
                <select>
                    <option>Date Created</option>
                    <option>Name</option>
                </select>
            </div>

            <i class="material-icons">view_list</i>
            <i class="material-icons selected">apps</i>
        </div>
    </div>


    <div class="folder-card--wrapper flex-box">
        @foreach (var item in Model)
        {
            <div class="folder-card flex-box">
                <a class="full-width-anchor" href="/Photographer/Photos/@item.Id"></a>
                <div class="header flex-box">
                    <div class="grey-ball"></div>
                    <i class="material-icons align-right">more_vert</i>
                </div>
                <div class="photos">
                    @foreach (var photo in item.Photos.Take(8))
                {
                        <img class="tiny-photo" src="@photo.ThumbnailUrl" />
                    }
                </div>
                <div class="folder-info">
                    <p class="title">
                        @item.Name
                    </p>
                    <p class="created-date">
                        Created: @item.CreatedDate.ToString("MMMM d, yyyy")
                    </p>
                    <p class="folder-code">Folder Code: @item.Id</p>
                </div>
            </div>
        }
        <div class="folder-new" ng-click="">
            <img src="~/images/icons/folder.png" />
            <div class="label">New Folder</div>
        </div>
    </div>

</div>
