@model FolderViewModel
@{
    ViewData["Title"] = Model.Name;
}

<div class="photos-dashboard--wrapper" ng-controller="PhotoCtrl">
    <div class="flex-box header">
        <a href="/Photographer/Dashboard" class="button--back"><img src="~/images/icons/ic_arrow_back_24px.png" /></a>
        <h2 class="header-large">@Model.Name</h2>
        <span class="created-date">Created: @Model.CreatedDate.ToString("MMMM d, yyyy")</span>
    </div>

    <div class="background--yellow line--small"></div>
   
    <div class="flex-box filters">
        <input class="input--light-blue searchbox" ng-model="searchCode" placeholder="Search Library" />
        <div class="view-icons align-right">
            <div class="filter-sort">
                <select>
                    <option>Date Created</option>
                    <option>Name</option>
                </select>
            </div>

            @*<i class="material-icons" ng-click="listView = !listView">view_list</i>
        <i class="material-icons selected" ng-click="listView = !listView">apps</i>*@
            <div class="button--imageUpload" ng-click="openUpload(@Model.Id)" ng-cloak><img src="~/images/icons/add-photo.png" class="img-upload" />Upload Images</div>
        </div>
    </div>

    <div class="folder-card--wrapper codeView">
        @foreach (var item in Model.Photos.GroupBy(x => x.Code).Select(y => y.First()))
        {
        <div class="codeView__row">
            <a class="codeView__card" href="@Url.Action("PhotoCode", "Photographer")?code=@item.Code" ng-if="'@item.Code' != ''" ng-cloak>
                <div class="codeView__card--title">
                    <div class="label">Photo Code</div>
                    <div class="info">@item.Code</div>
                </div>
                <div class="codeView__card--date">
                    <div class="label">Date Uploaded</div>
                    <div class="info">@item.UploadDate.ToString("dd MMMM yyyy")</div>
                </div>
                <div class="codeView__card--edit">Bulk Edit</div>
            </a>
            <a class="codeView__card" ng-if="'@item.Code' == ''" ng-cloak>
                <div class="codeView__card--title">
                    <div class="label">Photo Code</div>
                    <div class="info">@item.Code</div>
                </div>
                <div class="codeView__card--date">
                    <div class="label">Date Uploaded</div>
                    <div class="info">@item.UploadDate.ToString("dd MMMM yyyy")</div>
                </div>
                <div class="codeView__card--edit">Bulk Edit</div>
            </a>
            @foreach (var image in Model.Photos.Where(x => x.Code == item.Code))
        {
        <div class="photo-card" style="background-image: url(@image.Url)" ng-click="viewPhoto(@image.Id)"></div>
        }           
        </div>
        }
    </div>

</div>
