@using Microsoft.EntityFrameworkCore
@model ProfileBundle
@{
    ViewData["Title"] = "Profile";
}

@section ProfileImageBackdrop {
    <div class="photographer-profile--backdrop"><figure><img src="/images/kuvio-circle.png"/></figure></div>
}
<div class="photographer-profile--wrapper" ng-controller="PhotoCtrl">
    <div class="g-row">
        <div class="g-col-xs-12 g-col-sm-3 g-no-padding-xs">
            <div class="photographer-info">
                <div class="photographer-image" style="background-image: url(/images/avatar.png)"></div>
                <h2>@Model.User.FirstName @Model.User.LastName</h2>
                <p class="photographer-title">Architectural Photographer</p>
                <p class="photographer-bio">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="photographer-social">
                <ul>@if(Model.User != null && Model.User.SocialMedia != null) { 
                        @foreach(var social in Model.User.SocialMedia)
                        {
                            <li><a class="@(social.Type.ToLower())" href="@(social.Link)">@(social.Type)</a></li>
                        }
                    }
                </ul>
            </div>
            <div class="gallery-search-container">
                <input class="input--light-blue searchbox" placeholder="Search Gallery..."/>
            </div>
        </div>
        <div class="g-col-xs-12 g-col-sm-9 g-no-padding-xs">
            <div class="photographer-gallery-container">
                <div class="g-row">
                    @if(Model.Folder != null && Model.Folder.Photos != null) { 
                        @foreach (var Photo in @Model.Folder.Photos)
                        {
                        <div class="g-col-xs-12 g-col-sm-6 g-col-md-4 gallery-image-pad">
                            <div class="gallery-image" style="background-image: url(@Photo.Url)" ng-click="viewPhoto(@Photo.Id)"></div>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
