@model SalesHistoryViewModel
@{
    ViewData["Title"] = "Sales History";
}

<div class="photographer-dashboard--wrapper photographer-sales-history">
    <h2 class="header-large">Good morning, @Model.UserDisplayName</h2>
    <div class="yellow-background line--small"></div>

    <div class="flex-box filters">
        <form action="" method="get" class="search-form">
            <div class="search-title">
                <h4>Search Orders</h4>
            </div>
            @*
        <input type="number" name="Total" />
            *@
            <div class="search-inputs">
                <div class="column">
                    <div class="data">
                        <label>First Name</label>
                        <input type="text" name="FirstName" class="input--light-blue" />
                    </div>
                    <div class="data">
                        <label>Last Name</label>
                        <input type="text" name="LastName" class="input--light-blue" />
                    </div>
                    <div class="data">
                        <label>Email</label>
                        <input type="text" name="Email" class="input--light-blue" />
                    </div>
                    <div class="data">
                        <label>Is Photographer?</label>
                        <select name="IsPhotographer">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </div>
                </div>
                <div class="column">
                    @{
                        var dateNow = DateTime.Now.ToString("yyyy-MM-dd");
                        var dateThirtyDaysAgo = DateTime.Now.AddDays(-30).ToString("yyyy-MM-dd");
                    }
                    <div class="data">
                        <label>Order Status</label>
                        <input type="text" name="OrderStatus" class="input--light-blue" />
                    </div>
                    <div class="data">
                        <label>Order Date</label>
                        <input type="date" name="OrderDateEarliest" value="@dateThirtyDaysAgo" class="input--light-blue" />
                        -
                        <input type="date" name="OrderDateLatest" value="@dateNow" class="input--light-blue" />
                    </div>
                    <div class="data">
                        <label>Display Name</label>
                        <input type="text" name="DisplayName" class="input--light-blue" />
                    </div>
                    <div class="data">
                        <label>Quantity</label>
                        <input type="number" name="QuantityMin" class="input--light-blue small-input" />
                        -
                        <input type="number" name="QuantityMax" class="input--light-blue small-input" />
                    </div>
                </div>
                <div class="column">
                    <br />
                </div>
                <div class="column">
                    <br />
                </div>
                <div class="column">
                </div>
                <div class="column">
                    <button class="input--light-blue">Submit</button>
                </div>
            </div>
        </form>
    </div>


    <div class="flex-box">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Photo Sold</td>
                    <td>Print Size</td>
                    <td>Amount</td>
                    <td>Total Paid</td>
                    <td>Your Earnings</td>
                    <td>Order Status</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Orders)
                {
                    <tr>
                        <td>@item.PhotoName</td>
                        <td class="highlight">@item.PrintSize</td>
                        <td>@item.Amount</td>
                        <td>@string.Format("{0:C}", item.TotalPaid)</td>
                        <td>@string.Format("{0:C}", item.Earning)</td>
                        <td>
                            @if (item.OrderStatus.Equals("Payment Pending"))
                            {
                                <i class="material-icons">access_time</i>

                            }
                            else if (item.OrderStatus.Equals("Order Complete"))
                            {
                                <i class="material-icons">check</i>
                            }
                            else
                            {

                                <i class="material-icons">print</i>
                            }

                            @item.OrderStatus
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="flex-box total">
        <div class="total-counter">
            <h4>Total Sales</h4>
            <h3>@Model.TotalSales</h3>
        </div>
        <div class="total-counter">
            <h4>Total Made</h4>
            <h3>@string.Format("{0:C}", Model.TotalMade)</h3>
        </div>
        <div class="total-counter">
            <h4>Total Earned</h4>
            <h3>@string.Format("{0:C}", Model.TotalEarned)</h3>
        </div>
    </div>

</div>
