@page "/photo/{id:int}/{name}"

@if (photo != null)
{
    <div class="container-xl py-md-7 py-5">

        <div class="row">
            <div class="col-12">
                <img src="@photo.Url" style="width: 100%" />
            </div>
        </div>

        <div class="row mt-5 mt-sm-5    ">
            <div class="col-sm-6">
                <h5 style="font-weight: 600">
                    @photo.Name
                </h5>
            </div>
            <div class="col-auto ml-auto text-sm-right">
                <p class="mb-0">
                    @photo.Resolution
                </p>
                <p>
                    File Size: @photo.FileSize MB
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p class="text-grey">
                    Published on @photo.UploadDateUtc.ToLocalTime().ToString("dd MMM, yyyy") by <a href="/Photographer/@photo.Photographer.Id">@photo.Photographer.FullName</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <p>
                    So you're going abroad, you've chosen your destination and now you have to choose a hotel. Ten years ago, you'd have probably visited your local travel agent and trusted the face-to-face advice.
                </p>
            </div>
        </div>

        <div class="row mt-3 mt-sm-3">
            <div class="col-sm-9">
                @foreach (var item in photo.PhotoTag)
                {
                    <span class="badge badge-primary p-2">@item.Name</span>
                }
            </div>
            <div class="col-auto ml-auto">
                <button class="btn btn-secondary">
                    <span class="material-icons">
                        shopping_cart
                    </span>

                    Purchase
                </button>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int id { get; set; }

    [Parameter]
    public string name { get; set; }

    PhotoModel photo = new PhotoModel();

    protected async override Task OnParametersSetAsync()
    {
        photo = await GetPhoto(id);
    }

    public async Task<PhotoModel> GetPhoto(int id)
    {
        return await Http.GetFromJsonAsync<PhotoModel>($"Photo/{id}");
    }
}
