@page "{eventId:int}/{code:string}"
@model PhotoCodeModel
@{ 
    Layout = "~/Home/Views/Shared/_Layout.cshtml";
}

<div class="photoPage" ng-controller="PhotoCtrl">
    <div class="header">
        <h2 class="header-large">Photos With Code <span>@Model.Code</span></h2>
        <div class="photoPage__photographer-info">
            <div>
                <div class="title">Photographer</div>
                <div class="name">@Model.Photographer.DisplayName</div>
            </div>
            @if (Model.Photographer.ProfilePhotoUrl == null)
            {
                <div class="photographer-image" style="background-image: url(../../wwwroot/images/icons/profile-icon.png)"></div>
            }
            else
            {
                <div class="photographer-image" style="background-image: url('@Model.Photographer.ProfilePhotoUrl')"></div>
            }
        </div>
    </div>

    <div class="divider"></div>

    <a class="photoPage__image-container">
        @foreach (var photo in Model.Photos)
        {
            <a class="photoPage__image-container--photo" 
                style="background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 44%, #000000 100%), url('@photo.ThumbnailUrl')" 
                asp-page="/Events/Photo"
                asp-route-eventId="@Model.EventId"
                asp-route-photoCode="@photo.Code"
                asp-route-photoId="@photo.Id">
                <div class="photoName">@photo.Name <img src="~/images/icons/share-white.png" /></div>
            </a>
        }
        @*<ul uib-pagination total-items="codePhotos.length" ng-model="currentPage" items-per-page="photosPerPage" ng-show="(codePhotos.length/photosPerPage) > 1"></ul>*@
        @*<div ng-click="switchCode()" class="newCode">Not the photos you were looking for?</div>*@
    </div>

    <div class="photoPage__footer">
        <div class="subHeader">Like What You See?</div>
        <div class="header">They Would Look Better On Your Wall!</div>
        <div class="container">
            <div class="purchase--info">
                Why not purchase a print and get it shipped right to your door?
                We offer many different sizes and stock. Or alternatively, you can purchase a digital version.
            </div>
            <div class="photoPage__footer--right">
                @*<div class="title">Starting At Just $5 Per Photo</div>*@
                @*<div class="button--yellow button--yellow--large" ng-click="goToPurchase(code)"><img src="~/images/icons/cart-red.png"/>Buy Them Now</div>*@
            </div>
        </div>       
    </div>

</div>
