@page
@model PurchaseModel

@{
    ViewData["Title"] = "Purchase";
    Layout = "~/Home/Views/Shared/_Layout.cshtml";
}

<div class="purchase" ng-controller="CheckoutCtrl" ng-init="getUser(); getPwintyCatalog(); priceModal(); getPhotographer(@Model.Photo.PhotographerId)">
    <h1 class="header-large">Purchase Photo</h1>
    <div class="divider"></div>
    <div class="flex-box">
        <div class="photo">
            <img src="@(string.IsNullOrEmpty(Model.Photo.WaterMarkUrl) ? Model.Photo.Url : Model.Photo.WaterMarkUrl)" />
        </div>
        <div class="purchase__photo-info">
            <h3 class="header-small">
                Photo Information
            </h3>
            <div class="info">
                <div class="row">
                    <div class="title">Photo Name</div>
                    <div class="value">@Model.Photo.Name</div>
                </div>
                <div class="row">
                    <div class="title">Photo Code</div>
                    <div class="value">@Model.Photo.Code</div>
                </div>
                <div class="row">
                    <div class="title">Max Resolution</div>
                    <div class="value">@Model.Photo.Resolution</div>
                </div>
                <div class="row">
                    <div class="title">File Size</div>
                    <div class="value">@Model.Photo.FileSize</div>
                </div>
                <div class="row">
                    <div class="title">Photographer</div>
                    <div class="value">{{photographer.DisplayName}}</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 class="header-medium">Photo Options</h2>
        <md-switch ng-model="printQuality" ng-true-value="'Pro'" ng-false-value="'Standard'" aria-label="print quality">
            Photo Quality: {{ printQuality }}
        </md-switch>
        <div ng-click="showPriceModal()" class="price__info">Price Breakdown</div>
        <div class="purchase__options--container">
            <div class="purchase__options--row">
                <div class="select"><md-checkbox aria-label="Select" ng-click="selectAllPrintTypes()"></md-checkbox></div>
                @*<div class="icon"></div>*@
                <div class="type">Type</div>
                <div class="height">Height</div>
                <div class="length">Length</div>
                <div class="quantity">QTY</div>
                <div class="price">Price</div>
            </div>
            <div class="purchase__options--row" ng-repeat="print in standardProducts.items" ng-show="print.itemType == 'Print' && printQuality == 'Standard'">
                <div class="select"><md-checkbox aria-label="Select" ng-click="select(print.name, print.Quantity, print.price)" ng-checked="isSelected(print.name)"></md-checkbox></div>
                <div class="type">{{print.itemType}}</div>
                <div class="height">{{print.fullProductVerticalSize}}in</div>
                <div class="length">{{print.fullProductHorizontalSize}}in</div>
                <div class="quantity"><input ng-model="print.Quantity" placeholder="1" /></div>
                <div class="price"><strong>${{'@Model.Photo.Price' ? (print.price / 100) + '@Model.Photo.Price' : (print.price / 100) | number: 2}}</strong></div>
            </div>

            <div class="purchase__options--row" ng-repeat="print in proProducts.items" ng-show="print.itemType == 'Print' && printQuality == 'Pro'">
                <div class="select"><md-checkbox aria-label="Select" ng-click="select(print.name, print.Quantity, print.price)" ng-checked="isSelected(print.name)"></md-checkbox></div>
                <div class="type">{{print.itemType}}</div>
                <div class="height">{{print.fullProductVerticalSize}}in</div>
                <div class="length">{{print.fullProductHorizontalSize}}in</div>
                <div class="quantity"><input ng-model="print.Quantity" placeholder="1" /></div>
                <div class="price"><strong>${{'@Model.Photo.Price' ? (print.price / 100) + '@Model.Photo.Price' : (print.price / 100) | number: 2}}</strong></div>
            </div>
        </div>
        <div class="button--yellow button--yellow--large" ng-click="createPwintyOrder()" style="margin-top: 50px"><img src="~/images/icons/cart-red.png" /> Add Selected To Cart</div>
    </div>
</div>

