@page
@model ConfirmationModel
@{
    ViewData["Title"] = "Order Confirmation";
}

<div class="confirmation">
    <div class="header-large">Thank You For Your Order!</div>
    <div class="divider"></div>
    <div class="heading">Order Information</div>
    <div ng-cloak>
        <div class="content">
            <div class="content--info">Full Name</div> 
            @Model.CurrentUser.DisplayName
        </div>
        <div class="content">
            <div class="content--info">Phone Number</div>
            @Model.CurrentUser.Address.Phone
        </div>
        <div class="content">
            <div class="content--info">Address</div>
            @Model.CurrentUser.Address.Address1
        </div>
        <div class="content">
            <div class="content--info">City & State</div>
            @Model.CurrentUser.Address.City, @Model.CurrentUser.Address.State
        </div>
        <div class="content">
            <div class="content--info">Zip</div>
            @Model.CurrentUser.Address.ZipCode
        </div>
        <div class="content">
            <div class="content--info">Email</div>
            @Model.CurrentUser.Address.Email
        </div>
    </div>
    <div class="divider"></div>
    <div ng-cloak>
        <div class="content"><div class="content--info">Total Items</div>@Model.TotalItems</div>
        <div class="content"><div class="content--info">Shipping Time</div>Ground Shipping</div>
        <div class="content"><div class="content--info">Total Cost</div>@string.Format("{0:C}", Model.TotalAmount)</div>
    </div>
</div>