@page "/search"

@layout MainLayout

    

        @* Search Bar Section *@
        <div class="background" style="background-color: darkgreen; opacity: 0.2;">
            <div class="container-xl">
                <div class="d-flex flex-column align-items-center justify-content-center" style="height: 480px;">
                    <h2 class="mb-6 text-white">LESS FAFF, MORE SNAPS.</h2>
                    @*<div class="search-bar mb-6">*Search bar here*</div>*@
                    @*<input type="text" class="form-control mb-6" placeholder="Search Gallery..." aria-label="Photo Code">*@

                    <BlazoredTypeahead SearchMethod="SearchTags"
                                       @bind-Value="SelectedTag">
                        <SelectedTemplate Context="tag">
                            @tag.Name
                        </SelectedTemplate>
                        <ResultTemplate Context="tag">
                            @tag.Name
                        </ResultTemplate>
                    </BlazoredTypeahead>

                    @if (SelectedTag != null)
                    {
                        <p>Selected Tag is: @SelectedTag.Name</p>
                    }
                </div>
            </div>
        </div>
        
        
        <div class="container-xl">
            @* Search Section *@



            @* Image Section *@
            <div class="d-flex justify-content-between" style="margin-top: 60px;">
                <div class="col-sm">
                    @foreach (var photo in RandomPhotos)
                    {
                        <img src="@photo.ThumbnailUrl" class="random-photo mb-4" style="width:100%;" ng-cloak alt="@photo.Name" />
                    }


                    @*<img class="mb-4" style="width: 100%;" src="../images/Rectangle Copy 10.png" alt="Alternate Text" />
                    <img class="mb-4" style="width: 100%;" src="../images/Rectangle Copy 11.png" alt="Alternate Text" />*@
                </div>

                <div class="col-sm ml-4 mr-4">
                    @foreach (var photo in RandomPhotos)
                    {
                        <img src="@photo.ThumbnailUrl" class="random-photo mb-4" style="width:100%;" ng-cloak alt="@photo.Name" />
                        <img class="mb-4" style="width: 100%;" src="../images/Rectangle Copy 11.png" alt="Alternate Text" />
                        <img class="mb-4" style="width: 100%;" src="../images/Rectangle Copy 13.png" alt="Alternate Text" />
                    }
                </div>

                <div class="col-sm">
                    @foreach (var photo in RandomPhotos)
                    {
                        <img src="@photo.ThumbnailUrl" class="random-photo mb-4" style="width:100%;" ng-cloak alt="@photo.Name" />
                    }


                    @*<img class="mb-4" style="width: 100%;" src="../images/Rectangle Copy 13.png" alt="Alternate Text" />
                    <img class="mb-4" style="width: 100%;" src="../images/Rectangle Copy 10.png" alt="Alternate Text" />*@
                </div>
            </div>
        </div>

@code {
    public List<RandomPhotoModel> RandomPhotos = new List<RandomPhotoModel>();
    public string SearchCode = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        RandomPhotos = await GetPhotos(30);
    }

    public string RandomCoordinate() => new Random().Next(0, 80) + "%";

    public async Task<List<RandomPhotoModel>> GetPhotos(int count)
    {
        return await Http.GetFromJsonAsync<List<RandomPhotoModel>>($"Photo/Dashboard/{count}");
    }

    private List<Tag> Tags;

    private Tag SelectedTag;

    protected override void OnInitialized()
    {
        Tags = new List<Tag> {
            new Tag("The Matrix"),
            new Tag("Hackers"),
            new Tag("War Games") };
    }

    private async Task<IEnumerable<Tag>> SearchTags(string searchText)
    {
        return await Task.FromResult(Tags.Where(x => x.Name.ToLower().Contains(searchText.ToLower())).ToList());
    }


}
